<form class="flexcol"></form>
    <div class="form-group stacked">
        <label class="form-label" for="value">Edit results for range {{{range}}}</label><br/>
        <p>
        {{
            editor result.text
            target="text"
            button=false 
            editable=true 
            engine="prosemirror"
            collaborate=false 
        }}
        </p>
    </div>
</form>